html {
    box-sizing: border-box;
    font-size: 14px;
    margin: 0;
    padding: 0;
  }

  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }

  .container {
    max-width: 960px;
  }
  
  .pricing-header {
    max-width: 700px;
  }
  
  .card-deck .card {
    min-width: 220px;
  }
  
.bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
  
  
@media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
    
  
  body {
    padding-bottom: 20px;
  }

  #logo-site {  /*image du logo dans le head petit marge autour du logo pour ne pas coller le nom du site*/
    width: 2em;
    height: 2em;
    margin: 0.3em;
  }

  #navbars-website { /*espacement link navbar pour ne pas que les liens soient collés au logo*/
    margin-left: 1.2em;
    margin-bottom: 0.3em;
  }

  #navbars-website a { /* navbar agrandissement des lettres*/
    font-size: 1.1em;
  }
  
  #navbars-website a:hover { /*effet survol des liens navbar avec effet transition*/ 
    color:#0069D9;
    transition: color .3s;
  }



   


  /*---------------style actualités card --------------*/

  /*responsvité*/
  @media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

.card-title { /*titre des cartes*/
  font-weight: bold;
}



/*-------------------grid + collapse----------------------------*/

.themed-grid-col {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(86, 61, 124, .15);
  border: 1px solid rgba(86, 61, 124, .2);
}

.themed-container {
  padding: 15px;
  margin-bottom: 30px;
  background-color: rgba(0, 123, 255, .15);
  border: 1px solid rgba(0, 123, 255, .2);
}


/*----------------------------- Tickets clos-------- */
.avatar { /*configuration de la taille des avatars (tickets)*/
  width: 3em;
  height: auto;
  padding-top: 2em;    
 }

 .bloc-id { /* bloc tickets avatar+texte */
      display: block;
      text-align: center;
 }

 #col-size {
  text-align: justify;
 }
 .accordion {
     display: flex;
 }

.answer {
  text-align: justify;
}

/*lien connexion accueil*/
.conexion a {
  text-decoration: none;
}

/*-----------------------------style de page connexion------------------------------*/
