html {
    box-sizing: border-box;
    font-size: 14px;
  }
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  .container {
    max-width: 960px;
  }
  
  .pricing-header {
    max-width: 700px;
  }
  
  .card-deck .card {
    min-width: 220px;
  }
  
.bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
  
  
@media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
    
  
  body {
    padding-bottom: 20px;
  }
  
  .navbar {
   
    margin-bottom: 20px;
  }
  
  #nav-head {
    padding: 30px;
    
  }


  /*style actualités car*/
  @media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

.card-title { /*titre des cartes*/
  font-weight: bold;
}



/*grid + collapse*/

.themed-grid-col {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(86, 61, 124, .15);
  border: 1px solid rgba(86, 61, 124, .2);
}

.themed-container {
  padding: 15px;
  margin-bottom: 30px;
  background-color: rgba(0, 123, 255, .15);
  border: 1px solid rgba(0, 123, 255, .2);
}


.avatar {
  width: 3em;
  height: auto;    
 }

 .bloc-id {
      display: block;
      text-align: center
 }
 #col-size {
  text-align: justify;
 }
 .accordion {
     display: flex;
 }

.answer {
  text-align: justify;
}

